<p class="article__intro">Cvičení po porodu – jak to s ním vlastně je? Kdo má za sebou porod dá nám za pravdu, že tento čas není úplně easy a happy. Je to období hodně citlivé a dost náročné a proto začneme zlehka. Zkusíme vám shrnout základní poznatky nejen z vlastní zkušenosti, ale hlavně z praxe. Nejdříve se pojďme podívat, co se s naším tělem dělo před porodem, v průběhu a těsně po něm.</p>

<h2>Co se děje s tělem před a po porodu?</h2>
<p>Během několika hodin před samotným porodem se s naším tělem stanou neuvěřitelné věci. Už během těhotenství se nám tělo „zvětšuje“, mění se váha a tím se posouvá těžiště těla vpřed a otvírá se pánev. Ta je v průběhu porodu maximálně otevřená a působí na ni a všechny okolní tkáně obrovské množství tahů a tlaků. Těsně po porodu se rychle vše mění a tělo se pomalu začne propracovávat k normálu – zmenšuje se. Břicho je prázdné a jeho svaly oslabené a zádové svaly z většiny přetížené.</p>

<h2>Co můžete dělat hned po porodu?</h2>
<p>Stimulujte nohy, vnímejte je, aktivně na nich stůjte a hlavně choďte, nejlépe naboso. Masírujte si svaly kolem pánve a kyčlí. Hlaďte celou břišní stěnu ve všech směrech – zespodu nahoru, z vnějších stran ke středu bříška, od spodních žeber k pupíku a od pánve k pupíku diagonálně. Dýchejte do hrudníku a do bříška, aktivujete tím celé bříško. Nejčastější otázka, kterou nám dáváte je, kdy můžu začít cvičit a posilovat? Je fajn, když dáte vašemu tělu čas po celé šestinedělí, aby se srovnalo po těch náročných 9 měsících, které se přirovnávají z hlediska náročnosti na organismus k výkonům vrcholových sportovců. Pokud jste zvyklá cvičit a nemáte žádné potíže můžete cvičit zatím pouze izometrickou kontrakcí (zatnutím svalů). Je vhodné také masírovat svaly beder. Tím aktivujete celý trup. Lehejte si na bříško, tím podpoříte zavinování dělohy.</p>

<h2>A co když jste po císařském řezu?</h2>
<p>Břicho je u porodu císařem z většiny nefunkční. První vaše aktivita po řezu bude sed na lůžku a postupná vertikalizace do stoje a krátká chůze (druhý den po řezu). Věřte, že i to pro vás bude velmi náročné. Před samotným stojem se pokuste několikrát posadit, vždy přes bok, vzhledem k tomu, že vaše břišní svaly nefungují a máte velkou operační ránu. Ve stoje se snažte co nejvíce narovnat a zaktivovat zádové svaly. Hned jak se trochu srovnáte můžete začít se vším jako po normálním porodu, viz. výše. Po císařském řezu začněte s cvičením až po 3 měsících, dejte čas dobrému prohojení všech sešitých vrstev a předejdete tak vzniku různých srůstů, které umí nadělat ve vašem těle velkou paseku. Nezapomeňte na vaši jizvu a pečujte o ni.</p>
<p>Jak? O tom vám také napíšeme. Při nejmenším by vás měly poučit sestřičky na gynekologickém oddělení, ptejte se jich. Pokud se objeví diastáza, je nutné s ní pracovat. NEPOSILUJTE přímý břišní sval. Učte se jemnou izometrickou kontrakci příčných a šikmých břišních svalů. Až když se svaly a vazy zpevní můžete začít cvičit větší silou. Je vhodné vyhledat pomoc fyzioterapeuta, který se této problematice věnuje, vyšetří vás a pomůže vám najít vhodnou aktivitu. Po šestinedělí je vhodné začít se cvičením pánevního dna, ale o tom už zase v dalším článku. A co je nejdůležitější? NIKDY nepropadejte nátlaku okolí, že „takhle je to právně“, „já sem začala cvičit už“. Vždy poslouchejte své tělo, ono už vám napoví. A když ne, tak se na vás těšíme my.</p>
