<h2>Cvičení v těhotenství</h2>
<p class="article__intro">Těhotenství, nejkrásnější období v životě matky,… No, jak pro koho. Pojďme se společně podívat na to, co si v tomhle krásném období můžete dopřát a co zase naopak vynechat. Jak si zacvičit a co nechat radši jiným.</p>
<p>Na začátek si pojďme definovat těhotenství neboli jiný stav, gravidita,… Všechny tyhle často skloňované názvy jsou DYNAMICKÝ PROCES, kdy se mnoho věcí mění. Během devíti měsíců! Je to fofr a ne všechny z nás to zvládnou bez obtíží. Ano i já momentálně prožívám to nejkrásnější období.</p>
<p>Všechny změny, které se dějí, jsou většinou funkčního charakteru a až na výjimky jsou vratné. A víte co je ještě větší fofr? Porod, ale o tom později.</p>

<h2>Jak poznat, kdy mám začít cvičit, jestli vůbec, co je vhodné cvičení?</h2>
<p>Pokud vaše těhotenství probíhá fyziologicky, tedy bez jakýchkoliv potíží a jste zdravá NEBOJTE SE HÝBAT.</p>
<p>Pohyb působí na naši psychiku a i na miminko má blahodárný vliv. Pamatujte život je pohyb a pohyb je život, a ani to početí se bez pohybu neobešlo. Ženy, které jsou zvyklé pravidelně cvičit i s vyšší zátěží, mohou dál pokračovat, jen musí snížit úroveň, zátěž, tempo,… tady bychom se měly řídit pravidlem, že tepovka by neměla přesáhnout 140 tepů za minutu.</p>
<p>Cvičení vždy musí být pohodlné a příjemné.</p>
<p>V případě, že cítíte nějaké potíže, překážky nebo si jednoduše nejste jistá, je vždy vhodná konzultace s gynekologem, fyzioterapeutem, porodní asistentkou nebo trenérem (odborným). Ideální je samozřejmě spolupráce většiny těchto profesí.</p>

<h2>Cvičit se nedoporučuje v těchto případech:</h2>
<ul>
  <li>Diabetes</li>
  <li>Astma</li>
  <li>cévní a srdeční onemocnění</li>
  <li>slabý děložní čípek</li>
  <li>krvácení či špinění</li>
  <li>nízko položená placenta,</li>
  <li>opakující se potraty a riziko předčasného porodu</li>
</ul>
<p>V každém případě, začněte cvičit co nejdříve. Čím je těhotenství pokročilejší, tím méně lze pracovat na kondici. Životosprávu lze změnit kdykoliv, ale i ta se během těhotenství mění. Napětí ve tkáních matky je většinou nízké (hypotonické), to sebou nese bolest a únavu. Dejte si pozor na jakékoliv medikamenty – hořčík, analgetika a všechny tepelné procedury. To vše snižuje napětí a zvyšuje bolest.</p>
<p>Vždy je důležité najít vhodnou stimulaci, která bude vyhovovat i dítěti. Používáme k tomu například hlazení těla směrem vzhůru, chladnou až studenou vodu na končetiny a obličej, aktivní pohyb na čerstvém vzduchu nebo třeba chůzi na boso. Pohyb v nejrůznějších polohách, ale nikdy ne výkonnostní sport.</p>

<h2>Naše rady a tipy na závěr zní:</h2>
<ol>
  <li>Naučte se NÉST svoje tělo, budete se moci normálně pohybovat, pracovat a žít.</li>
  <li>Používejte co nejvíce aktivní opory nohy o zem, od toho je máme, aby vnímaly a pracovaly.</li>
  <li>Otevřete všechny možnosti dechu, zásobíte kyslíkem nejen sebe, ale i miminko.</li>
</ol>

<h2>Co vše si můžete dopřát?</h2>
<ol>
  <li>Těhotenské skupinové cvičení s odborným lektorem (doporučujeme to s holkama z Wážky.kp).</li>
  <li>Individuální cvičení pod vedením fyzioterapeuta, porodní asistentky, … (připravujeme pro vás!, leč jsme teď obě dvě v roli mateřské a očekávající, nezbývá nám mnoho času).</li>
  <li>SM systém – pravidelné lekce, které zatím ještě vedu já (Ivana Cízová).</li>
  <li>Těhotenskou masáž – třeba u nás ve FYZIOBODY profík.</li>
  <li>Kineziologické tejpování – to také umíme u nás.</li>
</ol>
<p>Pamatujte! NEEXISTUJE špatné cvičení, nýbrž ŠPATNÉ provedení.</p>
