<h2>Bolest zad</h2>
<p class="article__intro">Už jste to někdy zažili? Někdo vám přes noc zapíchnul do zad kudlu. Ráno to píchá pod lopatkou, máte „infarkt“ nebo vás bodá za krkem. V horším případě všechno dohromady. Otočka vpravo nebo vlevo vypadá jako z filmu Vesničko má středisková (musíte se otáčet celý), což je v autě dost nepraktické. Při nádechu se sotva nadechnete a s každým pokašláním jdete do kolen. Tak už?</p>
<p>Stalo se mi to zrovna nedávno, po chřipce. No a protože není návod jak se tohohle stavu efektivně zbavit, dali jsme pro vás dohromady pár tipů. Nejdříve si řekneme, co vlastně se v těch našich zádech děje, jaké mohou být příčiny a jak si ulevit.</p>

<h2>Bolest zad: příčiny a jak jí předcházet</h2>
<p>V první řadě bývá na vině přetížení a jednostranná zátěž. To jednoduše znamená, že když celý den budete v pravé ruce nosit těžkou tašku a pak si na pravé straně ustelete, určitě to nechá v našich zádech stopu. Není nic jednoduššího, než se před spaním protáhnout a trošku si pravou stranu uvolnit, prodýchat a procvičit. Pokud už se vzbudíte a budete skučet bolestí, zaberou dechová cvičení, jemná protažení, cvičení jako například SM systém, šetrná masáž či kineziotaping.</p>
<p>Druhou nejčastější příčinou jsou nekontrolovatelné pády, úrazy a posttraumatické stavy. Ve většině případech při pádu tělo použije všechny možnosti, aby nás ochránilo před traumatem. A protože náš vnitřní stabilizační systém je dost často málo nebo úplně nefunkční, podílí se na záchraně i svaly povrchové. To má pak za následek například blokády v oblasti hrudníku či žeber. V tomhle případě je nejlepší variantou si na den dva odpočinout, nahřívat teplé pytlíky a nechat tělu čas a prostor se s tím vyrovnat (eventuelně si dát nějaké to běžné analgetikum). Pokud se budete snažit protáhnout nebo si s tím nechat křupnout, tělo většinou zareaguje větší bolestivostí.</p>
<p>Třetí častou příčinou je dlouhotrvající kašel, astma nebo onemocnění horních cest dýchacích.</p>
<p>Kašláním se dráždí mezižeberní svaly. Ty se dostávají do stavu stálého napětí a vznikají bolestivé spasmy v oblasti žeber, které se mohou řetězit dál a dál. V tomhle případě, je potřeba utlumit kašel na maximum a zaujímat polohy, kdy je kašel nejméně namáhavý. Určitě zaberou teplé pytlíky (NE!!! horká vana), dechová cvičení, mobilizace žeber fyzioterapeutem, prodýchání bránice a břicha. Pokud je to už vážně síla a nic nezabírá, zvolte běžná analgetika, spasmolytika nebo třeba nějaké hřejivé mazání.</p>

<h2>Bolest zad v těhotenství</h2>
<p>V těhotenství je situace o něco složitější, protože miminko tlačí na bránici zespodu. Ale i tady jsou metody a techniky, které vám dokáží ulevit – mobilizace žeber od fyzioterpeuta, šetrná těhotenská masáž (nutno konzultovat), SM systém podle MUDr. Smíška, dechová terapie nebo i nějaké ty léky (když už musíte do nemocnice, nenechte se odbít).</p>
<p>A když vás to všechno přejde, nezapomeňte cvičit a protahovat dál. Protože prevence je prostě nejlepší lékař.</p>
