<p><strong>Oslabené pánevní dno</strong> – mnoho žen s ním má problémy, to s sebou nese nekomfort v podobě úniku moči, tzv. inkontinence. Spolu se podíváme na to, co to vlastně pánevní dno je, jak poznat, že je oslabené a jakými technikami ho můžeme znovu posílit.</p>

<h2>INKONTINENCE – strašák nebo taky cesta jak najít sami sebe</h2>
<p>Když se řekne slovo inkontinence nahlas, tak spousta lidí dělá, že se jich to netýká. Možná je to i váš příběh a při čtení těchto řádků vnímáte rozpaky, ale nevěste hlavu, nejste v tom rozhodně sami. Je možná pravdou, že častěji řešíme inkontinenci s ženami, ale ani vy milí muži, nejste výjimkou.</p>
<p>Inkontinence je důsledkem dysbalance v oblasti pánevního dna. Tato dysbalance může být spojena s těhotenstvím, těžkým porodem nebo jen oslabeným pánevním dnem při letitém vadném držení těla, kdy jsme prostě na tuto oblast úplně zapomněli. Nedílnou součástí správné funkce pánevního dna je i emocionální stav, protože obzvlášť my ženy si tam ukládáme spousty traumat a jednoduše se pak od pánevního dna potažmo od sebe sama odpojíme.</p>
<p>Někdy o tom, že máte problém s únikem moči nemusíte zpočátku ani vědět, ale najednou přijde chřipka, kašel, nečekané píknutí a poleje vás horko, co se to jako stalo? Často také slýcháme v ordinacích, „já ale cvičím, na nestabilních plochách jsem 2× týdně, ale je pravda, že co chodím na trampolínky, tak si beru tampon, mám lepší pocit, že „TO“ udržím.“ V tuto chvíli polévá horko nás, fyzioterapeuty 😉</p>
<p>Pokud jste dočetli až sem a myslíte si, že vám vidíme až do kalhot, tak tady máte pár rad co s tím, kam jít, s kým mluvit. Pojďte na to!</p>

<h2>DYSFUNKCE PÁNEVNÍHO DNA</h2>
<p>Dysfunkce pánevního dna obnáší velmi širokou problematiku s mnoha příznaky – již zmiňovaná inkontinence, zácpa, neurologické potíže, bolesti v oblasti pánve ať už pooperačního, funkčního nebo pozánětlivého původu. Pánevní dno je z anatomického pohledu velmi složitá struktura tvořená svalovinou, fasciemi, vazy, kostmi, sfinkterovými systémy obklopující močovou trubici a konečník, cévy a nervy. V neposlední řadě je pánevní dno zdrojem a terčem emočního napětí současně, proto je někdy zapotřebí i psychologické péče.</p>
<p>Tak a teď k jádru pudla. <strong>Jak poznáme oslabené pánevní dno?</strong> Jednoduše nemáte kulatý zadek! Tak to povětšinou poznáme my (fyzioterapeuté) už na první pohled po vysvlečení pacienta v ordinaci. Vy ho poznáte většinou právě projevy jako jsou už zmíněný únik moči, bolestivý pohlavní styk, bolesti v oblasti zad, kostrče, pánve a kyčlí atd. U mužů se objevuje porucha erekce.</p>

<h2>Jak tedy posílit pánevní dno a je to vůbec potřeba?</h2>
<p>No toť otázka. Řada z nás i vás, totiž nepotřebuje pánevní dno posílit, ale naopak uvolnit, úplně nejlépe normalizovat napětí v pánevním dnu. Existuje mnoho a mnoho cvičení, které můžeme využít. A to jsou:</p>
<ol>
  <li>Uvědomění si vlastního těla – v tomto případě cíleně svalů pánevního dna.</li>
  <li>Aktivace hlubokého stabilizačního systému.</li>
  <li>Cvičení na balančních podložkách a nestabilních plochách.</li>
  <li>Kegelovy cviky – tato metoda používá izolované cviky na pánevní dno, jako doplněk k aktivaci HSSP.</li>
  <li>Viscerální terapie – technika na uvolňování orgánů v těle.</li>
  <li>Metody v rámci fyzioterapie – Metoda dle Mojžíšové, manuální ošetření svalů, relaxační techniky,…</li>
  <li>Jógová terapie – hormonální jóga,…</li>
  <li>Psychoterapie a výživa.</li>
</ol>
<p>Tak a teď ruku na srdce, dokážete sami, pokud tedy nejste v oboru erudováni, splnit alespoň jeden z těchto bodů? Pokud ano, gratulujeme. Pokud ne, je na místě vyhledat pomoc, není se za co stydět.</p>
<p>Právě naopak, musíme o našem spodku mluvit více.</p>
<p>Vybrali jsme pro vás pár cviků, které nám při naší práci dávají smysl. Najdete již brzy na našem <a href="{{ site.social.instagram }}" target="_blank" rel="noopener">Instagramu</a> či <a href="{{ site.social.facebook }}" target="_blank" rel="noopener">Facebooku</a>.</p>
