<p class="article__intro">Lidská noha, každá je jiná. Malá, velká, úzká, dlouhá, široká, s vysokým nártem, … Ať už je jakákoli, tak bychom si ji měli velice hýčkat a pečovat o ni, abychom měli zdravá chodidla. Co pro naše nohy můžeme každý den udělat, aniž by nás to stálo hodně času?</p>
<p>Dáme vám několik tipů, tak pozorně čtěte a začít s péčí můžete třeba hned.</p>
<p>Nejprve si pojďme říct něco málo o vývoji a stavbě naší nožky. Lidská noha se do dnešní podoby vyvíjela od doby, kdy jsme se začali kráčet po dvou. Nároky na nohu tak začaly být větší a větší. Mezi hlavní funkce nohy bychom mohli zmínit zajištění stability, rovnováhy a tlumení nárazů. Skladba nohy je docela složitá. Vazy a svaly zajišťují aktivní strukturu a reagují na potřeby celého těla. Klouby a kosti jsou stvořeny k pohybu. Příčná klenba a podélná klenba – každý prst a zánártní kost tvoří oblouk od země do nártu, společně tvoří příčnou a podélnou klenbu nohy a přebírají váhu těla. Mimo opory, rovnováhy a tlumení, má noha funkci hmatovou. Nohy musíme cítit pro orientaci při chůzi, pro bezpečný odraz a nášlap, pro jistý stoj (který nás neunaví). Často je hmat zakrnělý tím, že navlékáme ponožky, nosíme pevné boty, nohu neotužujeme. S tím souvisí regulace teploty – ochlazení, ohřátí, otužování nohy. To je velmi důležité pro imunitní systém a stabilitu zdraví.</p>

<h2>A teď několik otázek pro vás!</h2>
<ol>
  <li>Podívejte se na svoje nohy – jaké jsou?</li>
  <li>Liší se pravá a levá noha?</li>
  <li>Co potřebuje vaše noha, aby vás nesla?</li>
</ol>

<h2>Proč je tedy naše nohy stále cvičit, ale i uvolňovat?</h2>
<p>PROTOŽE AKTIVNÍ NOHA:</p>
<ul>
  <li>Chrání paty, kotníky, kolena i páteř před nárazy zdola</li>
  <li>Aktivní svaly snižují nároky na aktivitu svalů kyčle, tím ho odlehčují a chrání.</li>
  <li>Když při chůzi funguje chodidlo a prsty, pumpují krev vzhůru, odlehčují srdci a žílám.</li>
  <li>Aktivuje funkci lymfatického systému</li>
  <li>Podporuje aktivitu pánevního dna, rozvinutí plného dechu a aktivitu bránice.</li>
</ul>

<h2>Mobilizace nohy a uvolnění lymfatického systému</h2>
<p>Automobilizace nohy, aneb co můžeme udělat pro svoji nohu doma.</p>
<ol>
  <li>Uvolnění a automobilizace prstů.</li>
  <li>Mobilizace záprstního a zánártního kloubu.</li>
  <li>Uvolnění patní kosti, hlezenní kosti a celého hlezna.</li>
  <li>Protažení plantární fascie.</li>
  <li>Masáž nohy.</li>
  <li>Aktivace lymfatického systému nohy – prsty mezi nohy.</li>
</ol>

<h2>Abeceda pro naše nohy</h2>
<ol>
  <li>Hmatat, cítit, poznávat nohou i poslepu různé předměty a povrchy – chůze na boso, otužování.</li>
  <li>Masírovat si nohy i prsty.</li>
  <li>Sbírat bosou nohou předměty ze země.</li>
  <li>Pěstička – prsty i pata jsou na zemi. Z pěstičky dlouhé prsty – pohyb po zemi.</li>
  <li>Žabák – roztáhnout prsty od sebe, pohyb jde po zemi. Na vnitřní i vnější straně se aktivují svaly které zpevňují nohu.</li>
  <li>Trénink pevných prstů – prsty jsou dlouhé na zemi, prstem si jemně zatlačíme na špičku, prst se nesmí nikam ohnout, nesmí se pohnout v žádném kloubu.</li>
  <li>Trénink jednotlivých prstů.</li>
  <li>Pasivní zakopnutí, aktivní odraz.</li>
</ol>
<p>Tak co? Zaměřili jste trochu pozornosti k vašim nohám, všimli jste si třeba jestli nejsou v botách moc na těsno nebo jste zjistili, že vlastně neumíte roztáhnout prsty od sebe? Zkuste sledovat každý den, jak se vaší noze daří a jak rychle se učí. Začít s péčí o nohu je možné i na pedikúře a to je celkem příjemný start ne? Už jen to, že si své nohy uvědomíte bude super.</p>
<p>Pokud byste se chtěli dozvědět další vychytávky a tipy, tak ty naleznete na našem <a href="{{ site.social.instagram }}" target="_blank" rel="noopener">instagramovém</a> a <a href="{{ site.social.facebook }}" target="_blank" rel="noopener">facebookovém účtu</a>.</p>
