---
# Duplicitní adresy z původního webu (WordPress je přesměrovával 301).
# GitHub Pages neumí serverové přesměrování, proto se na staré adrese vytvoří
# stránka s okamžitým meta refresh a kanonickou adresou. Google to bere jako
# trvalé přesměrování.
# Seznam je v _data/presmerovani.json.
pagination:
  data: presmerovani
  size: 1
  alias: r
permalink: "{{ r.z | replace('/', '', 1) }}index.html"
layout: false
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="cs">
<head>
<meta charset="utf-8">
<title>Přesměrování | {{ site.name }}</title>
<link rel="canonical" href="{{ site.url }}{{ r.na }}">
<meta http-equiv="refresh" content="0; url={{ site.url }}{{ r.na }}">
<script>location.replace({{ (site.url + r.na) | dump | safe }})</script>
</head>
<body>
<p>Stránka se přesunula na <a href="{{ site.url }}{{ r.na }}">{{ site.url }}{{ r.na }}</a>.</p>
</body>
</html>
