---
# Mapa webu pro vyhledávače. Obsahuje všechny stránky kromě těch s noindex.
permalink: sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}
{%- if not p.data.noindex %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    {%- if p.data.clanek %}
    <lastmod>{{ p.data.clanek.upraveno }}</lastmod>
    {%- endif %}
  </url>
{%- endif %}
{%- endfor %}
</urlset>
